In [15]:
import mysql.connector as connection

In [16]:
mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure="True") #Create the connection object

In [17]:
print(mydb.is_connected())

True

In [18]:
mydb.close()

In [19]:
# create the connection object
mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure="True")
print(mydb.is_connected())

True

In [20]:
query="SHOW DATABASES"
cursor=mydb.cursor()   #creating the cursor object
cursor.execute(query)  #getting the list of all databases
print(cursor.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('roshdb',), ('studentdb',), ('sys',)]

In [21]:
query="Create database RoshDB;"   #Creating a new databases
cursor=mydb.cursor()             #Creating the cursor object
cursor.execute(query)            #getting the list of all databases
print("database is created!!!!!!")
mydb.close()

DatabaseError: 1007 (HY000): Can't create database 'roshdb'; database exists

In [23]:
mydb=connection.connect(host="localhost",database='RoshDb',user="root",passwd="1234",use_pure=True)
           #check if connection is established
print(mydb.is_connected())
query="CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"
cursor=mydb.cursor()
cursor.execute(query)
print("Table is created!!!!!!!")
mydb.close()

True

ProgrammingError: 1050 (42S01): Table 'studentdetails' already exists

In [25]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",database='RoshDB',user="root",passwd="1234",use_pure=True)
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES('225','ROSH','Gupta','2002-08-07','TYBscCs','A')"
    cursor=mydb.cursor()
    cursor.execute(query)
    print("Values INSERTED into the table!!!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values INSERTED into the table!!!!

In [33]:
try:
    mydb=connection.connect(host="localhost",database='RoshDb',user="root",passwd="1234",use_pure=True)
    print(mydb.is_connected())
    query="select * from studentDetails"
    cursor=mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close()
except exception as e:
    mydb.close()
    print(str(e))

True
(225, 'ROSH', 'Gupta', datetime.date(2002, 8, 7), 'TYBscCs', 'A')

In [34]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",database='RoshDB',user="root",passwd="1234",use_pure=True)
    print(mydb.is_connected())
    query="UPDATE StudentDetails SET FirstName='Roshni',LastName='Gupta' WHERE Studentid=225"
    cursor=mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    
    query="select * from StudentDetails where Studentid=225;"
    cursor=mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
(225, 'Roshni', 'Gupta', datetime.date(2002, 8, 7), 'TYBscCs', 'A')