In [8]:
#for loop works on sequenece 
#for loop is a finite loop
#i = iteration...#

for i in range(0,5):#0-9
    print(i)

0
1
2
3
4

In [9]:
for sum1 in range(0,10,2):#0 start .... 10 end ...2 step(increment)
    print(sum1)  # even numbers

0
2
4
6
8

In [10]:
for i in range(1,20,2): # works on rows
    print(i) #odd numbers

1
3
5
7
9
11
13
15
17
19

In [11]:
list1 = ["apple","banana","cherry"]
print(list1)

['apple', 'banana', 'cherry']

In [12]:
# apple
# banana
# cherry

for i in list1:
    print(i)

apple
banana
cherry

In [14]:
string = "develearn"
for s in string:
    print(s , end = " ")

d e v e l e a r n

In [18]:
set1 = {1,2,3,4,5}
for i in set1:
    print(i, end = " ")

1 2 3 4 5

In [23]:
dic = {"name": "develearn", "year" : 2000}
for i in dic.keys():
    print(i)

name
year

In [25]:
for i in dic.values():
    print(i, end = " ")

develearn 2000

In [1]:
#break statements 

for i in range(0,10):
    if i == 5:
        break
    print(i, end  = " ")

0 1 2 3 4

In [29]:
#continue statement

list1 = ["apple","banana","cherry"]
for i in list1:
    if i == "banana":
        continue
    print(i)

apple
cherry

In [33]:
#pass statement

for i in range():
    pass

TypeError: range expected at least 1 argument, got 0

In [34]:
for i in range(6):

SyntaxError: incomplete input (1935284599.py, line 1)

In [35]:
for i in range(6):
    pass

In [36]:
a = 20

for i in range(0,a):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [41]:
#list comprehension

fruits =["apple","banana","kiwi"]
newList = []

for i in fruits:
    newList.append(i)
print(newList)

['apple', 'banana', 'kiwi']

In [42]:
fruits =["apple","banana","kiwi","Mango","guava"]
newList = []

for i in fruits:
    if "a" in i:
        newList.append(i)
print(newList)

['apple', 'banana', 'Mango', 'guava']

In [44]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fru for fru in fruits if "a" in fru]

print(newlist)

['apple', 'banana', 'mango']

In [8]:
for row in range(0,10): #rows #0--1--2--9
    for col in range(0,11): #columns #0-10--0-10--0-10--0-10
         print(row , end= " ")
    print('\n')

0 0 0 0 0 0 0 0 0 0 0

1 1 1 1 1 1 1 1 1 1 1

2 2 2 2 2 2 2 2 2 2 2

3 3 3 3 3 3 3 3 3 3 3

4 4 4 4 4 4 4 4 4 4 4

5 5 5 5 5 5 5 5 5 5 5

6 6 6 6 6 6 6 6 6 6 6

7 7 7 7 7 7 7 7 7 7 7

8 8 8 8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9 9 9

In [10]:
for row in range(1,11): 
    for col in range(1,11): 
         print(row*col , end = "  ")
    print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [11]:
for a in range(1,7): #number of rows
    for j in range(1,11): #number of columns of each rows
        print("*", end = " ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [13]:
for i in range(1,7): #number of rows
    for j in range(1,11): #number of columns of each rows
        print(j , end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [14]:
for i in range(1,7): #number of rows
    for j in range(1,11): #number of columns of each rows
        print(i , end = " ")
    print()

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6

In [16]:
for i in range(0,11):
    for j in range(1,7):
        print("*", end = " ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [19]:
for i in range(0,11):
    for j in range(1,7):
        print(i, end = " ")
    print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7
8 8 8 8 8 8
9 9 9 9 9 9
10 10 10 10 10 10

In [20]:
for i in range(0,11):
    for j in range(1,7):
        print(j, end = " ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [16]:
for i in range(0,5):  #i = 1 -- 2--3--4--5
    for j in range(0,i+1):  #(0,2)(0,3)(1,4)
        print(j, end = " ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [31]:
# 5 4 3 2 1
# 5 4 3 2
# 5 4 3
# 5 4
# 5


for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j, end = " ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [34]:
for i in range(5,5-5,-1):
    print(i, end = " ")
    
print()
    
for j in range(5,5-4,-1):
    print(j,end = " ")
    
print()

for k in range(5,5-3,-1):
    print(k,end= " ")

5 4 3 2 1
5 4 3 2
5 4 3

In [35]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i, end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [44]:
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2
# 1

for i in range(6,0,-1):  #i = 6 i= 5
    for j in range(0,i): #j = (1-4) 1-2-3
        print(i, end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [45]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [49]:
for i in range(5,0,-1):
    for j in range(6,i,-1):
        print(i, end = " ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [52]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end =" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [51]:
# 5
# 4 4
# 3 3 3
# 2 2 2 2 
# 1 1 1 1 1

for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j, end = " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [16]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
for i in range(1, 6):
    for j in range(0, i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
for i in range(0,5): #i = 0
    for j in range(5-i-1): #(5-0-1) ==4
        print("*",end=" ") 
    for K in range(0,i+1):#(0,1)
        print(K+1, end=" ")
    print()

* * * * 1
* * * 1 2
* * 1 2 3
* 1 2 3 4
1 2 3 4 5

In [34]:
for i in range(0,5): #i = 0
    for j in range(5-i-1): #(5-0-1) ==4
        print("*",end=" ") 
    for K in range(0,i+1):#(0,1)
        print(i+1, end=" ")
    print()

* * * * 1
* * * 2 2
* * 3 3 3
* 4 4 4 4
5 5 5 5 5

In [36]:
for i in range(0,5): #i = 0
    for j in range(5-i-1): #(5-0-1) ==4
        print("*",end=" ") 
    for K in range(i+1 , 0 , -1):#(0,1)
        print(K, end=" ")
    print()

* * * * 1
* * * 2 1
* * 3 2 1
* 4 3 2 1
5 4 3 2 1

In [37]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1

for i in range(1,6): #1--2--3
    for j in range(i,0,-1):#(1,0,-1)(1)--(2,0,-1)(2,1)(3,0)
        print(j, end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [7]:
# 1
# 2 3
# 4 5 6

c = 1 #2 #3
st = 2

for i in range(4):  # by default(0,3) i = 0 i=1 I=2
    for j in range(1,st): #(1,2)(1,3)j=1 j=2(1,4)
        print(c , end= " ")
        c+=1
    print()
    st+=1

1
2 3
4 5 6
7 8 9 10

In [8]:
c = 1
st = 2
for i in range(3):
    for j in range(1, st):
        print(c, end=" ")
        c += 1
    print()
    st = st+2

1
2 3 4
5 6 7 8 9

In [11]:
# 0
# 0 1
# 0 2 4
# 0 3 6 9
# 0 4 8 12 16

for i in range(0, 6):
    for j in range(0, i+1):
        print(j*i, end = " ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25

In [13]:
# 0
# 0 1
# 0 1 4
# 0 1 4 9
# 0 1 4 9 16

for i in range(0, 6):
    for j in range(0, i+1):
        print(j*j, end = " ")
    print()

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16
0 1 4 9 16 25

In [22]:
# 1
# 4 4
# 9 9 9
# 16 16 16 16
# 25 25 25 25 25

for i in range(1, 6):
    for j in range(1, i+1):
        print(i*i, end = " ") #print(i*i, end = " ")
    print()

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [32]:
# 1
# 3 3
# 5 5 5
# 7 7 7 7
# 9 9 9 9 9

for i in range(1, 6):
    for j in range(1, i+1):
        print(i*2, end = " ")
    print()

2
4 4
6 6 6
8 8 8 8
10 10 10 10 10

In [38]:
# *
# * *
# * * *
# * * * *
# * * * * *

for i in range(1,6):
    for j in range(i):
        print(" * ", end =" ")
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [39]:
# * * * * *
# * * * *
# * * *
# * *
# *

for i in range(5,0,-1):
    for j in range(i):
        print(" * ", end =" ")
    print()

 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [45]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

for i in range(0, 5):
    for j in range(5-i-1):
        print(" ",end= " ")
    for k in range(0,i+1):
        print("* ", end = " ")
    print()

        *
      *  *
    *  *  *
  *  *  *  *
*  *  *  *  *

In [48]:
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5

for i in range(5):
    for j in range(1,6):
        print(j,end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [52]:
# 1 1 1 1 1
# 2 2 2 2 2
# 3 3 3 3 3
# 4 4 4 4 4
# 5 5 5 5 5

for i in range(1,6):
    for j in range(5):
        print(i, end = " ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [78]:
a = "A B C D E"
print(a[:1*2])
print(a[:2*2])
print(a[:3*2])
print(a[:4*2])
print(a[:5*2])

A
A B
A B C
A B C D
A B C D E

In [70]:
for i in range(1,6):#i = 1
     print(a[:i*2])

A
A B
A B C
A B C D
A B C D E

In [98]:
a = "ABCDE"

print(a[0]*1)
print(a[1]*2)
print(a[2]*3)
print(a[3]*4)
print(a[4]*5)

A
BB
CCC
DDDD
EEEEE

In [102]:
for i in range(5):
    print(a[i]*(i+1))

A
BB
CCC
DDDD
EEEEE

In [106]:
# p  
# p y  
# p y t  
# p y t h  
# p y t h o  
# p y t h o n  


a = "Python"
print(len(a))
for i in range(len(a)+1):#(7)
    for j in range(i):#(0)(1)(2)(3)(4)(5)(6)
        print(a[j], end = " ")
    print()

6

P
P y
P y t
P y t h
P y t h o
P y t h o n

In [1]:
#     1  
#   2 2 2  
#  3 3 3 3 3  
# 4 4 4 4 4 4 4  
#5 5 5 5 5 5 5 5 5

# Matrix Operation

In [3]:
# 2*2,3*3,2*3,3*2,1*2,2*1
matrix1 = [[1,2],[3,4]] #2x2
print(matrix1)
type(matrix1)

[[1, 2], [3, 4]]

list

In [8]:
matrix1 = [[1,2],
           [3,4]]

matrix2 = [[5,6],
           [7,8]]

result = [[0,0],
          [0,0]]

for i in range(len(matrix1)):
    for j in range(len(matrix1[0])):
        result[i][j] =matrix1[i][j] + matrix2[i][j]
#         print(result[i][j])
        
for r in result:
    print(r)

[6, 8]
[10, 12]

In [4]:
len(matrix1)

2

In [9]:
a = [[1,2,3],     
     [3,4,5],
     [5,6,7]]   

b = [[1,2,3],
     [3,4,5],
     [5,6,7]]

res = [[0,0,0],
       [0,0,0],
       [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        res[j][i] = a[i][j]
        
for r in res:
    print(r)

[1, 3, 5]
[2, 4, 6]
[3, 5, 7]

In [12]:
#2x2 Matrix
X = [[12,7],
     [4,5]]
# 2x2 matrix
Y = [[5,8],
     [6,7]]
# result is 2x3
result = [[0,0],   #12*5+7*6[i][j]
          [0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]
        
        
for r in result:
    print(r)

[102, 145]
[50, 67]

In [16]:
a = [[1,2,3],
     [3,4,5],
     [5,6,7]]


b = [[9,8,7],
     [7,6,5],
     [5,4,3]]

c=[[0,0,0],
   [0,0,0],
   [0,0,0]]

for i in range(len(a)):
    for j in range(len(a[0])):
        for k in range(len(b)):
            c[i][j] += a[i][k]*b[k][j]
            
for r in c:
    print(c)

[[38, 32, 26], [80, 68, 56], [122, 104, 86]]
[[38, 32, 26], [80, 68, 56], [122, 104, 86]]
[[38, 32, 26], [80, 68, 56], [122, 104, 86]]