In [17]:
a = 30
print(type(a))

<class 'int'>

In [18]:
b = 'Develearn'
type(b)

str

In [19]:
c = 70.5
type(c)

float

In [20]:
d = 4+5j
type(d)

complex

In [21]:
fruits = ['Apple']
type(fruits)

list

In [23]:
# fruits1 = ('banana')
# type(fruits1)
fruits1 = ('banana',)
type(fruits1)

tuple

In [24]:
set_1 = {0,'deve'}
type(set_1)

set

In [25]:
dictionary = {'name':'Develearn'}
type(dictionary)

dict

In [26]:
n = range(10,20,5)
type(n)

range

In [27]:
n1 = range(10)
type(n1)

range

In [28]:
#1.
1==2

False

In [29]:
type(1==2)

bool

In [33]:
#2.
a = 5
b = 6
#a>b
#type(a>b)
#c = a>b
#type(c)

In [34]:
string = 'Hello World!'
print(string)

Hello World!

In [35]:
string

'Hello World!'

In [38]:
#multi line comment
'''Rutuja Surve
 Devlearn Institute'''
print(string)

Hello World!

In [46]:
name ="develearn institute \n Thane Branch Naupada \t 400563"

In [48]:
print(name)

develearn institute
 Thane Branch Naupada 	 400563

In [50]:
1na = 30 #we cannot use variable as a number

SyntaxError: invalid decimal literal (3118713136.py, line 1)

In [53]:
n1a = 30 # we can use number in between variables
n1a

30

In [58]:
_n = "Deve" # we use underscore as a space
_n

'Deve'

In [59]:
@n = "d" # we cannot used special Character
@n

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2968356504.py, line 1)

In [61]:
na_me_1 = 20 # use variable 
na_me_1

20

In [65]:
#python case sensitive

NAME1 ='DEVE'
#print(name1) # error bcz of python case sensitive
print(NAME1) # no error print value

DEVE

In [66]:
a = 30 # do not mention data type -- dynamic type
b = int(30) #mention data type -- static type

In [68]:
msg = 'Hello' #dynamic type
print(msg)
print(type(msg))

Hello
<class 'str'>

In [72]:
#input
inpt = input("enter number : ") #text box for enter number in output

enter number : 25

In [73]:
#output
inpt = input("enter number : ")
print(inpt) #output show the value user enter

enter number : 30
30

In [74]:
name = input("enter name : ")
print("My name is ",name)

enter name : rutuja
My name is  rutuja

In [79]:
number =str(input("enter number : "))
print("number :"+number)

enter number : rutuja
number :rutuja

In [80]:
#arithmetic operator (+,-,*,/,//,**,%)
a = 2
b = 4
print(a+b) #Addition
print(a-b) #Subtraction
print(a*b) #multiplication
print(a/b) #Division (output in float number)
print(a//b) #Floor Division (output in whole number)
print(a**b) #power(exponantial)
print(a%b) #reminder(modulus)

6
-2
8
0.5
0
16
2