In [3]:
#1)take input from user and print its inputvalue using input function
a = input()

siddhesh

In [1]:
#create a string and print the last element
a = "Siddhesh"
a[-1]

'h'

In [2]:
#create a string and print second last element
a = "Siddhesh"
a[-2]

's'

In [4]:
#create a string as eg:"hellohellohellohello" and print it 
a = "hello"*5
print(a)

hellohellohellohellohello

In [5]:
#create  two string like "hello" and "world" and print "helloworld"
a = "Hello"
b = "world"
a+b

'Helloworld'

In [6]:
#create two variable and swap its value eg a=10,b=20 afer swapping there output is a=20,b=10
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10

In [7]:
#create a tuple like(1,2,3,4,3,2) and count number of  occurrences  of 3
a = (1,2,3,4,3,2)
a.count(3)

2

In [8]:
#create a tuple like(1,2,3,4,3,2) and print the index number of 3
a = (1,2,3,4,3,2)
a.index(3)

2

In [9]:
#create a tuple like(1,2,3,4,3,2) and print (2,3,4) only
a = (1,2,3,4,3,2)
a[1:4]

(2, 3, 4)

In [4]:
#create tuple like(1,2,3,4,3,2) and remove 3 in this tuple
a = (1,2,3,4,3,2)
b

NameError: name 'remove' is not defined

In [10]:
#create a list like[1,2,3,4] and change the elements like[1,2,4,3] without using list methods
a = [1,2,3,4]
a[2:]=[4,3]
a

[1, 2, 4, 3]

In [11]:
#create a list like[1,2,3,4] and delete all the elements in list and print empty list without using any method 
a = [1,2,3,4]
a.clear()
a

[]

In [13]:
#create single value tuple
a =(1,)
type(a)

tuple

In [16]:
#create empty set
a = set()
type(a)

set

In [19]:
#create a dictionery like "a":10,"b":{20} and print the value of "a" without using methods
a = {"a":10,"b":20}
print(a["a"])

10

In [21]:
#create a dictionery like {"a":10,"b":20} and change the value of "b" is 30 and print it without using methods
a = {"a":10,"b":20}
a["b"]=30
a

{'a': 10, 'b': 30}

In [22]:
#create a dictionery like {"a":10,"b":20} and insert the key value pair which the key is "c" and the value is 30 and print it
a = {"a":10,"b":20}
a["c"]=30
a

{'a': 10, 'b': 20, 'c': 30}

In [23]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find the union without using union method
a = {1,2,3,4}
b = {3,4,5,6}
a|b

{1, 2, 3, 4, 5, 6}

In [24]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find the intersection without using intersection method
a = {1,2,3,4}
b = {3,4,5,6}
a&b

{3, 4}

In [1]:
#create two sets like {1,2,3,4} and {3,4,5,6} and find there difference without using difference method
a = {1,2,3,4}
b = {3,4,5,6}
b-a

{5, 6}

In [27]:
#create a set like {1,2,3,4} and remove 3
a = {1,2,3,4}
a.remove(3)
a

{1, 2, 4}

In [29]:
#create a set like {1,2,3,4} and remove 3 using discard method and undrstand what's the difference between remove and pop
a = {1,2,3,4}
a.discard(3)
a

{1, 2, 4}

In [30]:
#create a string like "hello world" and count "o"
a = "hello world"
a.count("o")

2

In [2]:
#create a string like "hello world" and find "z" or index "z" and understand difference between index and count
a = "hello world"
a.find(z)

NameError: name 'z' is not defined

In [32]:
#
a = "hello world"
a.index(z)
a

NameError: name 'z' is not defined

In [34]:
#create a list like ["p","y","t","h","o","n"] and print "python"
a = ["p","y","t","h","o","n"]
a2 = "".join(a)
print(a2)

python

In [5]:
#create string "python" and print ["p","y","t","h","o","n"]
a = "python"
a1 = list(a)
a1

['p', 'y', 't', 'h', 'o', 'n']

In [6]:
#create a string like"     python" and print "python"
a = "     python"
a.strip()

'python'

In [1]:
#create a list [1,2,3,4] and print it like [1,2,3,4,5]
a = [1,2,3,4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [3]:
#create a list [1,2,3,4] and print [1,2,3,4,1,2,3,4] using extend function
a = [1,2,3,4]
a.extend([1,2,3,4])
a

[1, 2, 3, 4, 1, 2, 3, 4]

In [1]:
#create a list [1,2,3,4] and remove 2 using pop function
a = [1,2,3,4]
a.pop(1)

2

In [2]:
#create a list [1,2,3,4] and print [1,5,3,4] using insert function
a = [1,2,3,4]
a.insert(1,5)
a

[1, 5, 2, 3, 4]

In [3]:
#create a list [1,2,3,4] and print [1,5,3,4] using negative indexing in insert function
a = [1,2,3,4]
a.insert(-3,5)
a

[1, 5, 2, 3, 4]

In [6]:
#create a list [1,2,3,4] and print [4,3,2,1]
a = [1,2,3,4]
a[::-1]

[4, 3, 2, 1]

In [8]:
#create a list [1,4,3,2] and print [1,2,3,4] using function
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [10]:
#create a dict {"a":10,"b":12,"c":14} and clear it{}
a = {"a":10,"b":12,"c":14}
a.clear()
a

{}

In [11]:
#create a empty set{}
a = set()
type(a)

set

In [12]:
#create empty dict{}
a = {}
type(a)

dict

In [13]:
#create a dict{"a":10,"b":20,"c":30} and print {"b":20,"c":30}
my_dict = {"a":10,"b":20,"c":30}
subset_dict = {"b": my_dict["b"], "c": my_dict["c"]}
print(subset_dict)

{'b': 20, 'c': 30}

In [15]:
#create a set {1,2,3,4} and remove 2
a = {1,2,3,4}
a.remove(2)
a

{1, 3, 4}

In [1]:
name = "siddhesh"
age = 30
string = f"my name is {name} and my age is {age}"
print(string)

my name is siddhesh and my age is 30

In [3]:
salary=[10000,20000,10000,20000,30000,50000,20000,20000]
salary.reverse()
print(salary)

[20000, 20000, 50000, 30000, 20000, 10000, 20000, 10000]

In [4]:
salary=[10000,20000,10000,20000,30000,50000,20000,20000]
salary.sort()
print(salary)

[10000, 10000, 20000, 20000, 20000, 20000, 30000, 50000]

In [5]:
salary=[10000,20000,10000,20000,30000,50000,20000,20000]
salary.sort(reverse=True)
print(salary)

[50000, 30000, 20000, 20000, 20000, 20000, 10000, 10000]

In [8]:
gmail = "siddheshdusar1002@gmail.com"
spmail = gmail.split("@")
username = spmail[0]
print(username)

siddheshdusar1002

In [1]:
year = int(input("Enter the Number"))
if(year%4==0 and year%100!=0 or year%400==0):
    print(f" {year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter the Number2024
 2024 is a leap year

In [2]:
unt = 500
if(unt<=100):
    print("no charges applicable")
elif(unt>100 and unt<=200):
    price = (unt - 100)*5
    print(f'total unties {unt} and charges are {price}')
elif(unt>200):
          sp = unt - 200
          price = 500+(sp*10)
          print(f'total unties {unt} and charges are {price}')

total unties 500 and charges are 3500

In [13]:
n1 = "10"
n2 = "20"
op = "*"
eq = n1+op+n2
print(eval(eq))

200

In [ ]:
# while loops

In [1]:
# print no 0 to 4.
start = 0
while start < 5:
    print(start)
    start+=1

0
1
2
3
4

In [3]:
i = 1
while i < 5:
    print("Sid@10")
    i = i + 1

Sid@10
Sid@10
Sid@10
Sid@10

In [1]:
i = 0
while i < 5:
    i = i + 1
    print(i)

1
2
3
4
5

In [10]:
i = 5
while i >=0:
    print(i)
    i = i - 1

5
4
3
2
1
0

In [15]:
i = 5
while i >=0:
    i = i - 1
    print(i)

4
3
2
1
0
-1

In [6]:
 oii8i = 1
while i<20:
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19

In [32]:
i=2
while i<20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18

In [10]:
a = "PYTHON"
index = 0
while (index<=5):
    print(a[index])
    index = index + 1

P
Y
T
H
O
N

In [21]:
a = 'develearn'
i = 0
while i < len(a):
    if a[i]=="l":
        i = i + 1
        break
    print(a[i])
    i = i + 1

d
e
v
e

In [22]:
a = 'develearn'
i = 0
while i < len(a):
    if a[i]=="l":
        i = i + 1
        continue
    print(a[i])
    i = i + 1

d
e
v
e
e
a
r
n

In [23]:
a = 'develearn'
i = 0
while i < len(a):
    if a[i]=="l":
        i = i + 1
    pass
    print(a[i])
    i = i + 1

d
e
v
e
e
a
r
n

In [2]:
n=int(input("enter the number "))
while (n>0):
    if(n%2==0):
        print("its a even number")
        n=n+1
        break
    else:
        print("its odd number")
        break

enter the number 5
its odd number

In [16]:
a = [1,2,3,4,5,6,7,8,9,0]
index = 0
while (index <=9):
    print(a[index])
    index = index + 1

1
2
3
4
5
6
7
8
9
0

In [22]:
i=int(input("enter the number "))
while(i<=20):
    if(i%2==0):
        print(f'{i} is even number ')
    else:
        print(f'{i} is odd number')
    i=i+1

enter the number 2
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number

In [25]:
a = 1
c = 0
while (a<=20):
    if(a%2!=0):
        print(a)
        c = c +1 
    a = a+ 1
print(c)

1
3
5
7
9
11
13
15
17
19
10

In [23]:
n = 1
s = 0
while (n<=10):
        s = s + n
        n = n + 1
print(s)

55

In [25]:
a = [1,3,12,14,15]
i = 0
s = 0
while (i<len(a)):
    print(a[i])
    s = s + a[i]
    i = i +1
print(s)

1
3
12
14
15
45

In [26]:
numbers = [1,2,3,4,5,1,4,5]
sum = sum(numbers)
print(sum)

25

In [1]:
a = [12,1,14,45,23,23,23,24,25,34,65,90]
i = 0
s = 0
while(i < len(a)):
    if(a[i]%2!=0):
        print(a[i])
        s= s + a[i]
    i = i + 1
print(s)

1
45
23
23
23
25
65
205

In [2]:
# create some variables and transform it in another datatype and print it new datatype. = 21

bin(42)

'0b101010'

In [ ]:
# for Loops

In [5]:
a = "Siddhesh"
for i in a:
    if i=="e":
        continue
    print(i)

S
i
d
d
h
s
h

In [6]:
a = "Siddhesh"
for i in a:
    if i=="e":
        break
    print(i)

S
i
d
d
h

In [7]:
a = "Siddhesh"
for i in a:
    if i=="e":
        pass
    print(i)

S
i
d
d
h
e
s
h

In [9]:
Name = ["siddhesh","tejas","namarata"]
Stream = ["science","commerece","commerece"]
for i,j in zip (Name,Stream):
    print(i,j)

siddhesh science
tejas commerece
namarata commerece

In [10]:
n = 5
for i in range(n):
    for j in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
n = 5
for i in range(n):
    for j in range(i,4):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [13]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ",end = " ")
    for i in range(i,n):
        print("*",end = " ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [18]:
n = 9
for i in range(n):
    for j in range(i,n):
        print(" ",end = "")
    for j in range(i):
        print(1+i,end=" ")
    print()

        2
       3 3
      4 4 4
     5 5 5 5
    6 6 6 6 6
   7 7 7 7 7 7
  8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9

In [3]:
x = [[1,2,3],[4,5,6],[7,8,9]]
y = [[7,8,9],[4,5,6],[1,2,3]]
m = [[0,0,0],[0,0,0],[0,0,0]]
for i in range (len(x)):
    for j in range(len(x[0])):
        m[i][j]=x[i][j]-y[i][j]
for k in m:
    print(k)

[-6, -6, -6]
[0, 0, 0]
[6, 6, 6]

In [20]:
a = "data"
for i in range(6):
    print(a)

data
data
data
data
data
data

In [3]:
# predict question
x=5
while(x<15):
    print(x**2)
    x+=3

25
64
121
196

In [4]:
a=7
b=5
while(a<9):
    print(a+b)
    a+=1

12
13

In [5]:
b=5
while(b<9):
    print("h")
    b+=1

h
h
h
h

In [6]:
b=15
while(b>9):
    print("hello")
    b=b-2

hello
hello
hello

In [2]:
c=-9
while(c<20):
    c+=3
    print(c)

-6
-3
0
3
6
9
12
15
18
21

In [8]:
a=5
while(a>0):
    print(a)
    a=a-1

5
4
3
2
1

In [9]:
x=4
while(x<=8):
    print(x*10)
    x+=2

40
60
80

In [10]:
x=4
for i in range(4,9,2):
    print(i*10)

40
60
80

In [11]:
x=3
if x>2 or x<5 and x==6:
    print("bye")
else:
    print("thank you")

bye

In [12]:
x=3
if x>2 or x<5 and x==6:
    print("bye")
else:
    print("thank you")

bye

In [13]:
x=10
y=1
while x>y:

6
2

In [34]:
i=45
while i !=0:
    i=i//10
    print(i)

4
0

In [ ]:
#functions. type(1)= Built in function  , type(2)= User defined function.

In [1]:
#function
#without arguments
def message():
    print("Hello World")
message()

Hello World

In [4]:
#with arguments.

def name(name,city):
    print("Hello",name,"city name",city)
name("Siddhesh","Chembur")
name("Vighnesh","chembur")

Hello Siddhesh city name Chembur
Hello Vighnesh city name chembur

In [5]:
#addition.

def add(a,b):
    return a+b
add(5,4)

9

In [6]:
add(12,15)

27

In [7]:
name("Harsh","Kurla")

Hello Harsh city name Kurla

In [8]:
name("Siddhi","virar")

Hello Siddhi city name virar

In [9]:
message()

Hello World

In [11]:
def my_function(*Kids):
    print("The youngest child is " + Kids[1])
my_function("a","b","c")

The youngest child is b

In [12]:
#You can also send arguments with key = value syntax.
def my_function(child3,child2,child1):
    print("The youngest child is " +child3)
my_function(child1 = "a",child2 = "b",child3 = "c")

The youngest child is c

In [19]:
#Average.

def average(a,b):
    print((a+b)/2)
    return  (a+b)/2
average(15,15)

15.0

15.0

In [2]:
Num1 = int(input('enter the value1:'))
Num2 = int(input('enter the value2:'))
if Num1==Num2:
    print('both value are equal')
elif Num1>Num2:
    print('Num 1 is greater')
else:
    print('Num 2 is greater')

enter the value1:2
enter the value2:3
Num 2 is greater

In [7]:
pnr = int(input('enter 6 digit pnr number:'))
dob = 280698
if pnr==123456:
    dob=int(input('enter dob DDMMYY'))
    if dob==280698:
        print('Your seat is confirmed')
    else:
        print('invalid entity')
else:
    print('invalid pnr')

enter 6 digit pnr number:45
invalid pnr

In [11]:
n = int(input('enter value between 30 & 35:'))
if n==30:
    print('nope')
elif n==33:
    print('closs call')
elif n==32:
    print('jackpot')
else:
    print('booo')

enter value between 30 & 35:31
booo

In [3]:
Dept_head = {"Hod":"Raman","prof":"K.V.S","Principal":"J.N"}